<nav aria-label="">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ pagination_filter }}" tabindex="-1">Previous</a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ page_obj.number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}&{{ pagination_filter }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ pagination_filter }}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
