{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock title %}

{% block content %}

{#    {% if request.user.avatar %}#}
{#    <img src="{{ request.user.avatar.url }}" height="100" width="150">#}
{#    {% else %}#}
{#    <img src="{% static 'images/anonymous-avatar.jpg' %}" height="100" width="150">#}
{#    {% endif %}#}
<img src="{{ request.user.avatar_url }}" height="100" width="150">
<br>
My Profile

<div class="row">
    <div class="col-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<br>
<div>
    <a class="btn btn-primary" href="{% url 'password_change' %}" role="button">Change password</a>
</div>

{% endblock content %}