{% extends 'base.html' %}

{% block title %}Table{% endblock title %}

{% block content %}
    <table>
    <tr>
        <th>Id</th>
        <th>Sale</th>
        <th>Buy</th>
        <th>Created</th>
        <th>Type</th>
        <th>Source</th>
    </tr>
    {% for rate in rates %}
        <tr>
            <td>{{ rate.id }}</td>
            <td>{{ rate.sale }}</td>
            <td>{{ rate.buy }}</td>
            <td>{{ rate.created }}</td>
            <td>{{ rate.type }}</td>
            <td>{{ rate.source }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}
