{% extends 'base.html' %}

{% load static %}

{% block title %}Table{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-12">
        <a href="{% url 'currency:rate-create' %}">Create Rate</a>
        <br>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Type</th>
                <th scope="col">Sale</th>
                <th scope="col">Buy</th>
                <th scope="col">Created</th>
                <th scope="col">Source</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for rate in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ rate.id }}</td>
                <td>{{ rate.get_type_display }}</td>
                <td>{{ rate.sale }}</td>
                <td>{{ rate.buy }}</td>
                <td>{{ rate.created }}</td>
                <td>{{ rate.source.name }}</td>
                <td>{# {% if rate.source.logo %}#}
                    {# <img src="{{ rate.source.logo.url }}" height="50" width="50">#}
                    {# {% else %}#}
                    {# <img src="{% static 'images/logo.jpg' %}" height="50" width="50">#}
                    {# {% endif %}#}
                    <img src="{{ rate.source.logo_url }}" height="50" width="50"></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'currency:rate-details' rate.id %}">Details</a>
                            <a class="dropdown-item" href="{% url 'currency:rate-update' rate.id %}">Edit</a>
                            <a class="dropdown-item" href="{% url 'currency:rate-delete' rate.id %}">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
